<!doctype html>
<html lang="en" ng-app="phonecatApp">
  <head>
    <meta charset="utf-8">
    <title>Google Phone Gallery</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="app.css" />
    <script src="lib/angular/angular.js"></script>
    <script src="app.js"></script>
  </head>
  <!-- PhoneListController is in charge of the DOM sub-tree under the <body> element.
       The expressions `({{phone.name}} and {{phone.snippet}}) are bindings which refer to our app model setup within the controller inside app.js -->
  <body ng-controller="PhoneListController">

    <ul>
      <!-- we are creating a loop here that angular will iterate through repeat our templates for each "phone in phones" -->
      <li ng-repeat="phone in phones">
        <span>{{phone.name}}</span>
        <p>{{phone.snippet}}</p>
      </li>
    </ul>

    <p>Total number of phones: {{phones.length}}</p>

    <p>Hello, {{name}}!</p>
    <table>
      <tr><th>Row number</th></tr>
      <tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]"><td>{{i + 1}}</td></tr>
    </table>
  </body>
</html>
